

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <form>
        标题：<input type="text" />
        内容:<textarea>
        </textarea>
        <button type="submit" class="btn">保存</button>
    </form>
</body>
</html>
